<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\LOG\MBGW_ESB_RETAIL\LOG_ESB_MB_RETAIL_"/>
      <appendToFile value="true"/>
      <datePattern value="'_'yyyy-MM-dd'.txt'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %-18.18M – %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="TIBCO.EMS.WCF, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4EBA9E761ECF2ED1"/>
        <add assembly="TIBCO.EMS, Version=1.0.830.14, Culture=neutral, PublicKeyToken=5B83DB8FF05C64BA"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors defaultRedirect="InternalErrorPage.aspx" mode="RemoteOnly" />
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
      cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!-- webservices config 
            public static string URL_WS_VNPAY_TOPUP = Funcs.getConfigVal("URL_WS_VNPAY_TOPUP");
        public static string URL_WS_ONEPAY_TOPUP = Funcs.getConfigVal("URL_WS_ONEPAY_TOPUP");
        public static string URL_WS_NLUONG_TOPUP = Funcs.getConfigVal("URL_WS_NLUONG_TOPUP");

        public static string URL_WS_NAPAS_VAS_TOPUP = Funcs.getConfigVal("URL_WS_NAPAS_VAS_TOPUP");

        // NAPAS VAS TOPUP VA BILL là 2 service khác nhau
        public static string URL_WS_NAPAS_VAS_BILL = Funcs.getConfigVal("URL_WS_NAPAS_VAS_BILL");

        public static string URL_WS_NAPAS_247_CARD = Funcs.getConfigVal("URL_WS_NAPAS_247_CARD");

        public static string URL_WS_NAPAS_247_ACCT = Funcs.getConfigVal("URL_WS_NAPAS_247_ACCT");
    -->
    <!-- key -->
    <add key="SHARED_KEY" value="12345a@"/>
    <!-- pass DB  -->
    <!--<add key="EBANKDB_EBANK_PASS" value=""/>
    -->
    <!--<add key="EBANKDB_PAYNET_PASS" value=""/>-->
    <!--
    <add key="MOBILDB_SMSUSER_PASS" value=""/>
    <add key="CARD_SVBODB_EBANK_PASS" value=""/>
    <add key="INTELLECTDB_EBANK_PASS" value=""/>-->
    <add key="EBANKDB_EBANK_PASS" value="2zjQYcheITLMhAgCh5bpRLdb5tkGm0wmVTwS0FMA9es="/>
    <add key="INTELLECTDB_EBANK_PASS" value="2zjQYcheITLMhAgCh5bpRL+Q1AwN+ELZJs/fMADOM5o="/>
    <add key="MOBILDB_SMSUSER_PASS" value="2zjQYcheITLMhAgCh5bpRHPEUZR+4JV4R6+7n9o6XIk="/>
    <add key="CARD_SVBODB_EBANK_PASS" value="D1O8jwuladPXiwZIFSjuUalThFYlnwU8R+nUhb1hZxA="/>
    <!-- Tnsname DB  -->
    <add key="EBANKDB_EBANK_FULL" value="Data Source=(DESCRIPTION=     (ADDRESS=       (PROTOCOL=TCP)       (HOST=10.4.98.13)       (PORT=1521)     )     (CONNECT_DATA=       (SERVICE_NAME=ebankdev)     )   )  ;User ID=EBANK_RETAIL;Password=EBANK_RETAIL;Persist Security Info=true;Min Pool Size=1;Max Pool Size=100; Connection Lifetime=30;Connection Timeout=30;Incr Pool Size=3;Decr Pool Size=1;"/>
    
    <add key="MOBILDB_SMSUSER_FULL"
      value="User Id=SMSUSER;Password=[PASSWORD];Data Source=VNEBANK;Persist Security Info=true;Min Pool Size=0;Max Pool Size=100; Connection Lifetime=30;Connection Timeout=30;Incr Pool Size=3;Decr Pool Size=1;"/>
    <add key="CARD_SVBODB_EBANK_FULL"
      value="User Id=EBANK;Password=[PASSWORD];Data Source=PROD_BO;Persist Security Info=true;Min Pool Size=0;Max Pool Size=100; Connection Lifetime=30;Connection Timeout=30;Incr Pool Size=3;Decr Pool Size=1;"/>
    <add key="INTELLECTDB_EBANK_FULL"
      value="User Id=EBANK;Password=[PASSWORD];Data Source=VNCORE;Persist Security Info=true;Min Pool Size=0;Max Pool Size=100; Connection Lifetime=30;Connection Timeout=30;Incr Pool Size=3;Decr Pool Size=1;"/>
    <!-- BEGIN LOG CONFIG-->
    <add key="LOG_FILE" value="D:\LOG\MBGW_ESB_RETAIL\LOG_ESB_MB_RETAIL_"/>
    <add key="INTEGRATOR_LOG" value="D:\LOG\INTEGRATOR_RETAIL\LOG_INTEGRATOR_MB_RETAIL_"/>
    <add key="INTEGRATOR_NVP_PATH" value="D:\EBANK_APPS\\esb_mobilegw\NVP.xml"/>
    <add key="INTEGRATOR_SERVER_IP" value="10.4.28.54"/>
    <!--<add key="INTEGRATOR_SERVER_IP" value="10.18.28.3"/>-->
    <add key="INTEGRATOR_SERVER_PORT" value="8024"/>
    <add key="MAIL_SERVER_IP" value="172.16.0.15"/>
    <add key="MAIL_SERVER_PORT" value="465"/>
    <add key="MAIL_SERVER_USER" value="ibanking"/>
    <add key="MAIL_SERVER_PASS" value="1234567890a@"/>
    <add key="MAIL_SERVER_FROM" value="ibanking@shb.com.vn"/>
    <add key="MAIL_SERVER_DOMAIN" value="SHBHO"/>
    <add key="URL_IMG_HOST" value="https://iportal.shb.com.vn/"/>
    <add key="MAIL_BCC_USER" value="ibankingservice@shb.com.vn"/>
    <!--<add key="SHBCardGW.Service" value="https://172.16.16.2/CardWebService/Service.asmx"/>
    <add key="NapasIBT.SMLWSGW" value="https://172.16.16.2/SML_IBTA_GW/SMLWSGW.asmx"/>
    <add key="vnpay.Services" value="https://172.16.16.2/vnpaygw/Services.asmx"/>
    <add key="payooGW.payoogw" value="http://172.16.17.2/payoogw/payoogw.asmx"/>-->
    <!--sms partner -->
    <add key="SMS_PARTNER" value="INCOM"/>
    <!-- value="TRIAL" : KH ko bat buoc phai doi goi xac thuc  -->
    <!-- value="FINAL" : KH bat buoc phai doi goi xac thuc  -->
    <add key="STATUS_PROJECT_TOKEN" value="TRIAL"/>
    <add key="CONTENT_TOKEN_POPUP_TRIAL_VN"
      value="Quý khách vui lòng chuyển sang sử dụng phương thức xác thực Smart OTP để giao dịch an toàn hơn với hạn mức cao hơn. Sau ngày 08/09/2019, nếu Quý khách không chuyển đổi, giao dịch trên SHB Mobile sẽ không thể thực hiện được. (Phương thức xác thực sẽ được áp dụng cho cả SHB Online và SHB Mobile)"/>
    <add key="CONTENT_TOKEN_POPUP_TRIAL_EN"
      value="Please convert to Smart OTP to have more safely and higher limit. After September 08th 2019, if you do not convert, transactions on SHB Mobile will not be possible. (Smart OTP will be applied to both SHB Online and SHB Mobile)"/>
    <add key="CONTENT_TOKEN_POPUP_FINAL_VN"
      value="Theo quy định của NHNN, Quý khách vui lòng chuyển sang sử dụng phương thức xác thực Smart OTP để giao dịch an toàn hơn với hạn mức cao hơn. (Phươngthức xác thực sẽ được áp dụng cho cả SHB Online và SHB Mobile)"/>
    <add key="CONTENT_TOKEN_POPUP_FINAL_EN"
      value="According to the regulations of the State Bank, please convert to Smart OTP to have more safely and higher limit.(Smart OTP will be applied to both SHB Online and SHB Mobile)"/>
    <add key="EBANK_RETAIL_SCHEMA" value="EBANK_RETAIL."/>
    <add key="COUNT_IMG" value="3"/>
    <add key="DEPLOYMENT_STATE" value="golive"/>
    <!---sau pilot doi trang thai thanh golive -->
    <!--<add key="CIF_PILOT" value="0310001014,0310003999,0310003896,0106236752,0105713386,0103624082,0105713409,0310008705,0107575700,0103961091,0106625619,0107665555,0310008712,3000098499,0100219209,0100260766,0000172509,0105902456,0000011895,0000204244,0100193181,0100191158,0310022806,0100586576,3000074088,0102210455,3000148383,0102210510,0107219082,0103878346,0103963811,0109487278,"/>
    <add key="PILOT_STATE" value="PILOT"/>-->
    <add key="BASE_URL_EVOUCHER" value="http://10.4.88.41:8280/topup/v1"/>
    <add key="BEARER_TOKEN_EVOUCHER" value="bc338289-22de-357b-83b8-896cab54be9b"/>
    <add key="ACCT_GL_CARD_CREDIT_5" value="9230357045"/>
    <add key="ACCT_GL_CARD_CREDIT_4" value="9230667049"/>
    <add key="ACCT_SUSPEND_HABECO" value="1011116889"/>
    <!--1: Check, 0: No check-->
    <add key="QUERY_247_PHASE2" value="1"/>
    <!--1.1: webservice, 2.0: TCP/IP-->
    <add key="IBFT_VERSION" value="2.0"/>
    <add key="USERNAME_DAIICHI" value="shb"/>
    <add key="PASSWORD_DAIICHI" value="PrmSvrP@ss.SHB@nk.dlvn"/>
    <add key="ACCT_SUSPEND_DAIICHI" value="1010502953"/>
    <!--CONFIG CARDDPP-->
    <add key="CARD_DPP_PARTNER" value="TAI_QUAY"/>
    <add key="CARD_DPP_SHAREKEY" value="IOWUETUIEUTIWJZHDFJHASJRGHASJGFA"/>
    <add key="MSG_EOD_STATUS"
      value="Hệ thống đang nâng cấp, Quý khách vui lòng quay lại thực hiện sau. Xin lỗi quý khách vì sự bất tiện này và cảm ơn quý khách!$Hệ thống đang nâng cấp, Quý khách vui lòng quay lại thực hiện sau. Xin lỗi quý khách vì sự bất tiện này và cảm ơn quý khách!"/>
    <add key="MAIL_SERVER_FROM_SENDER" value="Ngân hàng SHB"/>
    <add key="ACCT_SUSPEND_SHBFC" value="1010565656"/>
    <add key="MIN_TRAN_SHBFC" value="12000"/>
    <add key="TRAN_TYPE_QUAWACO" value="211501"/>
    <add key="LIMIT_THAU_CHI_DES"
      value="Giao dịch chuyển khoản thấu chi cùng khách hàng vượt hạn mức cho phép (100 triệu)$Overdraft transfers to the same customer has exceeded the permitted level (100 millions)"/>
    <add key="GL_TOPUP_PREPAID_CARD" value="9230427043"/>
    <!--CONFIG BILLING/TOPUP PURCHASE-->
    <add key="BILLING_TOPUP_MCC" value="6012"/>
    <add key="BILLING_TOPUP_TID" value="00000023"/>
    <add key="BILLING_TOPUP_MID" value="110000100000000"/>
    <!--CONFIG QR PURCHASE-->
    <add key="QR_PAYMENT_MCC" value="6533"/>
    <add key="QR_PAYMENT_TID" value="00006680"/>
    <add key="QR_PAYMENT_MID" value="000180000000004"/>
    <add key="AUTO_SAVING_MIN_AMOUNT_PLACEHOLDER" value="30000000"/>
    <add key="AUTO_SAVING_AMOUNT_PLACEHOLDER" value="10000000"/>
    <add key="AUTO_SAVING_AMOUNT_FLEXIBLE_PLACEHOLDER" value="10000000"/>
    <add key="URL_ACCT_NICE_API_EBANK" value="http://10.4.97.40:8280/internal_ebanking/v1"/>
    <add key="URL_ACCT_NICE_API_CORE" value="http://10.4.97.40:8280/internal_corebanking/v1"/>
    <add key="TOKEN_ACCT_NICE_API" value="7b327242-a73b-3690-a7de-a7e1bca25453"/>
    <add key="ACCT_NICE_GL_SUSPEND" value="9405057044"/>
    <add key="ACCT_NICE_GL_VAT" value="9226017043"/>
    <add key="CHARGE_FEE_VER" value="1.0" />
    <add key="AUTO_SAVING_PRODCD_ACCT_VALID" value="101,121,125,126,127,135,169,171,176,183,188,140,141"/>
    <add key="AUTO_SAVING_LISTMAI_PILOT" value="kimcuongbordo@gmail.com,hong.pt1@shb.com.vn,cuong.ptk@shb.com.vn,maibt.aob@gmail.com,mai.bt@shb.com.vn"/>
    <add key="URL_CCOMS" value="https://10.4.98.76:8243/internal_ccomms/v1" />
    <add key="TOKEN_CCOMS" value="033b0557-444b-34ff-aea1-e2a28df8aba5" />
    <add key="PUSH_PARENT_ID" value="0" />
    <add key="PUSH_APP_SRC" value="SHB_MOBILE" />
    <add key="PUSH_FUNC_SRC" value="EBANK_PUSH_EMAIL" />
    <add key="VALUE_EXP_DATE_GIFT" value="3"/>
    <add key="LINK_WEB_SITE" value="https://dev.shb.com.vn/mob-give-gift/"/>
    <add key="TIDE_PRODUCTCODE_AUTO_SAVING" value="532"/>
    <add key="TIMEOUT_GET_COUNT_UNREAD" value="30000" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Add new for ESB -->
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5b83db8ff05c64ba"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.830.14" newVersion="1.0.830.14"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <!--Add reference to the TemsTransportExtensionElement. -->
    <extensions>
      <bindingElementExtensions>
        <add name="TemsTransport"
          type="com.tibco.wcf.tems.TemsTransportExtensionElement, TIBCO.EMS.WCF, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4EBA9E761ECF2ED1"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="PortTypeEndpoint1Binding3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SOAPEventSourceBinding" sendTimeout="00:02:10">
          <textMessageEncoding messageVersion="Default" />
          <TemsTransport maxReceivedMessageSize="2147483647" messageProtocol="TIBCOSoapOverJMS2004"
            serverUrl="tcp://10.4.98.21:7222" username="admin" password="admin" />
        </binding>
        <binding name="SOAPEventSourceBinding_FLEXTIDE" sendTimeout="00:03:20">
          <textMessageEncoding messageVersion="Default" />
          <TemsTransport maxReceivedMessageSize="2147483647" messageProtocol="TIBCOSoapOverJMS2004"
            serverUrl="tcp://10.4.97.50:7222" username="admin" password="" />
        </binding>
        <binding name="PortTypeEndpoint1Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding1">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding2">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding2">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint2Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding3">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding1">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding5">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding6">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint4Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint5Binding1">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint4Binding1">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding7">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint2Binding1">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint3Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding8">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding11">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding4">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding9">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding10">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding12">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint2Binding2">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint0Binding13">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint0Binding14">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding15">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint0Binding16">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint3Binding1">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint1Binding5">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding6">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding17">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding18">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint3Binding2">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding19">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint4Binding2">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint4Binding3">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding4">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint2Binding3">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="PortTypeEndpoint0Binding20">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding21">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding7">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding22">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding8">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding9">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="CardPINPortTypeEndpoint0Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding23">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="QuaWaCoBillPmtPortTypeEndpoint0Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding24">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="SonLaWacoBillPmtPortTypeEndpoint0Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding25">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="DAWACOBillPaymentsPortTypeEndpoint2Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint1Binding10">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding26">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding27">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="PortTypeEndpoint0Binding28">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.tems://10.4.97.50:7222/queue/account.acctlist.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="AccList.PortType" name="AccList"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundtransfers.ibxfer.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="IBXferV1.PortType" name="IBXferV1"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundtransfers.ibxferTCP.v20" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="IBXfer.PortType" name="IBXfer"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.belongchk.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="BelongChk.PortType" name="BelongChk"/>
      <endpoint address="net.tems://10.4.97.50:7222/accounts.acctbalhist.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="AcctBalHist.PortType" name="AcctBalHist"/>
      <endpoint address="net.tems://10.4.97.50:7222/account.accthist.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="AcctHist.PortType" name="AcctHist"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/account.acctinfo.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="AcctInfo.PortType" name="AcctInfo"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/utilities.tiderate.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="TideRate.PortType" name="TideRate"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/account.passbook.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="PassBook.PortType" name="PassBook"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundtransfers.domxfer.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="DomXfer.PortType" name="DomXfer"/>
      <endpoint address="net.tems://10.4.97.50:7222/payments.napasvasbillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="NapasBillPmt.PortType" name="NapasBillPmt"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/payment.vnpaybillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="VnPayBillPmt.PortType" name="VnPayBillPmt"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/card.cardlist.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="CardList.PortType" name="CardList"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/card.cardlimit.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="CardLimit.PortType" name="CardLimit"/>
      <!-- Financial Posting-->
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundTransfers.financialposting.v10" binding="customBinding"
        bindingConfiguration="SOAPEventSourceBinding" contract="FinancialPosting.PortType" name="FinancialPosting"/>
      <!-- Domestic-->
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundtransfers.domxfer.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="DomesticPosting.PortType" name="DomesticPosting"/>
      <!-- Fund transfer-->
      <endpoint address="net.tems://10.4.97.50:7222/queue/fundtransfers.intxfer.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="InternalPosting.PortType" name="InternalPosting"/>
      <!-- ngan luong -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/payments.nlbillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="NLBillPmt.PortType" name="NLBillPmt"/>
      <!-- Napas billing/topup -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/payments.napasvasbillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="NAPASBillPmt.PortType" name="NAPASBillPmt"/>
      <!-- Vnpay billing/topup -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/payments.vnpaybillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="VNPAYBillPmt.PortType" name="VNPAYBillPmt"/>
      <!-- Onepay billing/topup -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/payments.onepaybillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="ONEPAYBillPmt.PortType" name="ONEPAYBillPmt"/>
      <!-- Payoo billing -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/payments.payoobillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="PayooBillPmt.PortType" name="PayooBillPmt"/>
      <!-- sms -->
      <endpoint address="net.tems://10.4.97.50:7222/queue/notification.sms.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="SMS.PortType" name="SMS"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardhist.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardHist.PortType" name="CardHist"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardname.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardName.PortType" name="CardName"/>
      <endpoint address="net.tems://10.4.97.50:7222/queue/card.cardposting.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardPosting.PortType" name="CardPosting"/>
      <endpoint address="net.tems://10.4.97.50:7222/account.acctpaysched.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="AcctPaySched.PortType" name="AcctPaySched"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.coredate.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CoreDate.PortType" name="CoreDate"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardbelongcif.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardBelongCif.PortType" name="CardBelongCif"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.getposcd.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="GetPosCd.PortType" name="GetPosCd"/>
      <endpoint address="net.tems://10.4.97.50:7222/vnpay.qrcode.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="Confirm.PortType" name="Confirm"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardinfo.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardInfo.PortType" name="CardInfo"/>
      <endpoint address="net.tems://10.4.97.50:7222/evnhn.billpayment.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="EVNHN.PortType" name="EVNHN"/>
      <endpoint address="net.tems://10.4.97.50:7222/vnpay.qrcode.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="VNPAYQrCode.PortType" name="VNPAYQrCode"/>
      <endpoint address="net.tems://10.4.97.50:7222/notification.sms.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="SMS_Service.PortType" name="SMS_Service"/>
      <endpoint address="net.tems://10.4.97.50:7222/dlvn.billpayment.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="DLVNSOA.PortType" name="DLVNSOA"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.tokenotp.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="TokenOTP.PortType" name="TokenOTP"/>
      <endpoint address="net.tems://10.4.97.50:7222/account.checknationality.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CheckNationlity.PortType" name="CheckNationlity"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardapi.v3" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardAPI.PortType" name="CardAPI"/>
      <endpoint address="net.tems://10.4.97.50:7222/payment.habecobillpmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="HabecoBill.PortType" name="HabecoBill"/>
      <endpoint address="net.tems://10.4.97.50:7222/openapi.carddpp.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardDPPCardInfoUtils.PortType" name="CardDPP"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.geteodstatus.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="GetEODStatus.PortType" name="GetEODStatus"/>
      <endpoint address="net.tems://10.4.97.50:7222/utilities.flextiderate.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="FlexTideRate.PortType" name="FlexTideRate"/>
      <endpoint address="net.tems://10.4.97.50:7222/account.flextide.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="FlexTide.PortType" name="FlexTide"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardverify.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardVerify.PortType" name="CardVerify" />
      <endpoint address="net.tems://10.4.97.50:7222/card.cardpin.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardPIN.PortType" name="CardPIN" />
      <endpoint address="net.tems://10.4.97.50:7222/customer.comboinfo.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="ComboInfo.PortType" name="ComboInfo" />
      <endpoint address="net.tems://10.4.97.50:7222/financials.shbfcfinancialincoming.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="SHBFC.PortType" name="SHBFC" />
      <endpoint address="net.tems://10.4.97.50:7222/payment.quawacopmt.v10" binding="customBinding"   bindingConfiguration="SOAPEventSourceBinding" contract="QUAWACOBill.QuaWaCoBillPmtPortType" name="QUAWACOBill" />
      <endpoint address="net.tems://10.4.97.50:7222/openapi.cardutils.cardinfodetail.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardInfoUtils.PortType" name="CardInfoUtils"/>
      <endpoint address="net.tems://10.4.97.50:7222/openapi.carddpp.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardDPP.PortType" name="CardDPP"/>
	  <endpoint address="net.tems://10.4.97.50:7222/card.cardautodebit.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="CardAutoDebit.PortType" name="CardAutoDebit"/>
	  <endpoint address="net.tems://10.4.97.50:7222/account.tideautosaving.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="TideAutoSaving.PortType" name="TideAutoSaving"/>
      <endpoint address="net.tems://10.4.97.50:7222/card.cardinternational.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="UnblockCard.PortType" name="UnblockCard"/>
      <endpoint address="net.tems://10.4.97.50:7222/payment.sonlawacopmt.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="SOWACO.SonLaWacoBillPmtPortType" name="SOWACO"/>
      <endpoint address="net.tems://10.4.97.50:7222/customer.chargefee.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="ChargeFee.PortType" name="ChargeFee"/>
    <endpoint address="net.tems://10.4.97.50:7222/payment.dawacobillpmt.v.1.2" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding" contract="DAWACOBillPayments.DAWACOBillPaymentsPortType" name="DAWACOBillPayments"/>
	  <endpoint address="net.tems://10.4.97.50:7222/openapi.corehandlecif.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="CoreHandleCIF.PortType" name="CoreHandleCIF"/>
	  <endpoint address="net.tems://10.4.97.50:7222/account.acctsurprise.v10" binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="AcctSurprise.PortType" name="AcctSurprise"/>
    <endpoint address="net.tems://10.4.97.50:7222/payments.evnnpcbillpayment.v10"
        binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="EvnNPCBillPayment.PortType" name="EvnNPCBillPayment" />
    <endpoint address="net.tems://10.4.97.50:7222/payments.evnmnbillpayment.v10"
        binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="EVNMN.PortType" name="EVNMN" />
    <endpoint address="net.tems://10.4.98.21:7222/payments.habecosappmt.v10"
        binding="customBinding" bindingConfiguration="SOAPEventSourceBinding"
        contract="HABECO.PortType" name="HABECO" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>